.Spinner__Root {
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: 5px solid var(--spinner-color, white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.Spinner__Root.Size-sm {
  --spinner-size: 16px;
}

.Spinner__Root.Size-md {
  --spinner-size: 18px;
}

.Spinner__Root.Size-lg {
  --spinner-size: 24px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
