.Modal__Root {
  position: fixed;
  top: 0;
  inset: 0;
  background: rgba($color: #000, $alpha: 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal__Content-Panel {
  --modal-panel-radius: 24px;

  background: var(--palette-background-secondary);
  padding: var(--spacing_4xl);
  border-radius: var(--modal-panel-radius);
}